/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, .ui-page {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center;
}

.row {
  height: 20%;
  position: absolute;
  width: 100%;
}

.row#row-1 {
  background: green;
}

.row#row-2 {
  top: 20%;
  background: blue;
}

.row#row-3 {
  top: 40%;
  background: yellow;
}

.row#row-4 {
  top: 60%;
  background: red;
}

.row#row-5 {
  top: 80%;
  background: orange;
}

img.fb-profile {
  max-height: 20%;
  z-index: 20;
  position: absolute;
}

.column {
  z-index: 10;
  height: 100%;
}

img.fb-profile .confirmed {
  border: 2px solid green;
}