// Place all the styles related to the desktop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-message {
  width: 100%;
  color: white;
  position: absolute;
  font-family: arial, helvetica;
  font-weight: bold;
  font-size: 1.5em;
}

#first-name {
  color: white;
  font-family: arial, helvetica;
  font-weight: bold;
  font-size: 3em;
}