// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  position: absolute;
  top: 85%;
  text-align: center;
  font-weight: bold;
  color: #265a76;
  background: grey;
  z-index: 20;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2em;
  font-family: arial, helvetica;
  box-shadow: 5px 6px 15px 0px #383838;
}