// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: blue;
  background: grey;
  z-index: 20;
}