<script src=http://cdn.pubnub.com/pubnub.min.js ></script>
<script>
  $(function(){
    var pubnub         = connectToPubNub();
    var presentUsers   = [];
    var confirmedUsers = [];
    var userStates     = [];

    centerV(".welcome-message");

    pubnub.subscribe({
      channel: 'desktop',
      message: function( m ){
        if( m.messageType == 'confirmation' ) {
          addItemToArrayIfNotPresent( m.id, confirmedUsers );

          if( presentUsers.sort().isEqualTo(confirmedUsers.sort()) ){
            carrousel( userStates );
          }
        } else {

          addItemToArrayIfNotPresent( m.id, presentUsers );
          userStates = storeState( m, userStates );
          $('.welcome-message').hide()
          
          if( m.rowId === undefined ) {
            m.rowId = 'row-3';
          }

          moveImgToRow( m.id, m.rowId, 'body' );
          
        }
      }
    });
  });
</script>

<div class="row" id="row-1"></div>
<div class="row" id="row-2"></div>
<div class="row" id="row-3"></div>
<div class="row" id="row-4"></div>
<div class="row" id="row-5"></div>
<div class="welcome-message">IF YOU'RE NOT COLORBLIND GO TO WWW.COLORBLIND.COM ON YOUR MOBILE</div>